<!-- <section>

  <header>
    <h1>Liste des sessions de formations </h1>
    <p class="description">Suivre les sessions que je veux participer.</p>
  </header>
   <app-session-item [session] = "session" (nbParticipants)="nbrParticipantChange($event)"></app-session-item>

  <footer>
    <a routerLink="/admin" routerLinkActive="active">
    <img src="assets/admin3.png" class="icon" />
    </a>
   </footer>
   <app-session-add-form></app-session-add-form>
  <app-session-item-list></app-session-item-list>
  <app-session-edit-form></app-session-edit-form>

</section> -->
<section>
  <header>
    <h1>Liste des sessions de formations </h1>
  </header>
  <nav>
   
    <a routerLink="./list" routerLinkActive="active">
    <img src="assets/list.png" class="icon"/>
    </a>
    <a routerLink="./add" routerLinkActive="active">
    <img src="assets/add.png" class="icon"/>
    </a>
    <a [routerLink]="['./edit', 1]" routerLinkActive="active">
    <img src="assets/edit.png" class="icon" />
    </a>
   </nav>
   <section>
    <router-outlet></router-outlet>
   </section>


</section>
